.avatar {
    align-self: inherit;
    width: 80px;
    height: 80px;
    border-radius: 100%;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h3{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 8px 0;
  }
  btn{
    float: right;
    padding-bottom: 30px;
  }
  td{
    color: whitesmoke;
  }

  .active:hover
  {
      background-color: #a6a6a6;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }
  input{
    display: inline-block;
  }

  .badge:hover{
    background-color: #eb4034;
  }
 #show{
   color: black;
   text-align: block;
   font-size: 25px;
   font-family: ;
 }


  
  


  


  